<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.rhei.form.pageProviders">
      <pageProvider
            class="org.polymap.kaps.ui.FormPageProvider"
            id="org.polymap.kaps.ui.FormPageProvider"
            name="Kaufpreissammlung">
      </pageProvider>
   </extension>
   <extension
         point="org.polymap.core.model.moduleAssemblers">
      <assembler
            class="org.polymap.kaps.model.KapsRepositoryAssembler">
      </assembler>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.polymap.kaps.importer.MdbImportWizard"
            icon="icons/add.gif"
            id="org.polymap.kaps.winakpsimport"
            name="WinAKPS - NHK2000 importieren">
      </wizard>
      <wizard
            class="org.polymap.kaps.importer.MdbFixRWZWizard"
            icon="icons/add.gif"
            id="org.polymap.kaps.winakpsimport.rwz"
            name="WinAKPS - Richtwertzonen korrigieren">
      </wizard>
   </extension>
   <extension
         point="org.polymap.rhei.form.filterProviders">
      <filterProvider
            class="org.polymap.kaps.ui.FilterProvider"
            id="org.polymap.kaps.ui.FilterProvider"
            name="org.polymap.kaps.ui.FilterProvider">
      </filterProvider>
   </extension>
   <extension
         point="org.polymap.core.data.featureOperations">
      <featureOperation
            class="org.polymap.kaps.exporter.WohnungAlsETWExporter"
            icon="icons/exportas.gif"
            id="org.polymap.kaps.exporter.WohnungAlsETWExporter"
            label="Exportieren als ETW"
            tooltip="Exportieren als ETW">
      </featureOperation>
       <featureOperation
            class="org.polymap.kaps.exporter.VertragFlaecheStatistikExporter"
            icon="icons/exportas.gif"
            id="org.polymap.kaps.exporter.VertragFlaecheStatistikExporter"
            label="Exportieren als Gesamtstatistik"
            tooltip="Exportieren als Gesamtstatistik">
      </featureOperation>
      <featureOperation
            class="org.polymap.kaps.exporter.VertragsdatenBaulandAlsBRLExporter"
            icon="icons/exportas.gif"
            id="org.polymap.kaps.exporter.VertragsdatenBaulandAlsBRLExporter"
            label="Exportieren als Statistik BRL"
            tooltip="Exportieren als Statistik BRL">
      </featureOperation>
      <featureOperation
            class="org.polymap.kaps.exporter.VertragsdatenBaulandAlsBRLWExporter"
            icon="icons/exportas.gif"
            id="org.polymap.kaps.exporter.VertragsdatenBaulandAlsBRLWExporter"
            label="Exportieren als Statistik BRL-W"
            tooltip="Exportieren als Statistik BRL-W">
      </featureOperation>
      <featureOperation
            class="org.polymap.kaps.exporter.VertragsdatenAgrarAlsAgrarExporter"
            icon="icons/exportas.gif"
            id="org.polymap.kaps.exporter.VertragsdatenAgrarAlsAgrarExporter"
            label="Exportieren als Statistik Agrar"
            tooltip="Exportieren als Statistik Agrar">
      </featureOperation>
      <featureOperation
            class="org.polymap.kaps.exporter.RichtwertzoneAsBorisExporter"
            icon="icons/exportas.gif"
            id="org.polymap.kaps.exporter.RichtwertzoneAsBorisExporter"
            label="Exportieren als BORIS für GeoSN"
            tooltip="Richtwertzone als CSV im Format BORIS für das GeoSN exportieren.">
      </featureOperation>
      <featureOperation
            class="org.polymap.kaps.exporter.VertragStaBuExporter"
            icon="icons/exportas.gif"
            id="org.polymap.kaps.exporter.VertragStaBuExporter"
            label="Exportieren für Statistisches Bundesamt"
            tooltip="Verträge für Statistisches Bundesamt Wiesbaden exportieren">
      </featureOperation>
      <featureOperation
            class="org.polymap.kaps.exporter.VertragStaLaAgrarExporter"
            icon="icons/exportas.gif"
            id="org.polymap.kaps.exporter.VertragStaLaAgrarExporter"
            label="Exportieren als Agrar für Statistisches Landesamt"
            tooltip="Verträge mit Agrar für Statistisches Landesamt Kamenz exportieren">
      </featureOperation>
      <featureOperation
            class="org.polymap.kaps.exporter.VertragStaLaBaulandExporter"
            icon="icons/exportas.gif"
            id="org.polymap.kaps.exporter.VertragStaLaBaulandExporter"
            label="Exportieren als Bauland für Statistisches Landesamt"
            tooltip="Verträge mit Bauland für Statistisches Landesamt Kamenz exportieren">
      </featureOperation>
      <featureOperation
            class="org.polymap.kaps.importer.RichtwertzoneKoordinateImporter"
            icon="icons/import.gif"
            id="org.polymap.kaps.importer.RichtwertzoneKoordinateImporter"
            label="In Richtwertzone importieren"
            tooltip="Geometrie auslesen und in Richtwertzone importieren">
      </featureOperation>
      <featureOperation
            class="org.polymap.kaps.exporter.VertragsdatenBaulandGebaudeExporter"
            icon="icons/exportas.gif"
            id="org.polymap.kaps.exporter.VertragsdatenBaulandGebaudeExporter"
            label="Exportieren als Gebäude"
            tooltip="Exportieren als Gebäude">
      </featureOperation>
      <featureOperation
            class="org.polymap.kaps.exporter.VertragsdatenGebaudeExporter"
            icon="icons/exportas.gif"
            id="org.polymap.kaps.exporter.VertragsdatenGebaudeExporter"
            label="Exportieren als Gebäude"
            tooltip="Exportieren als Gebäude">
      </featureOperation>
   </extension>
   <extension
         point="org.polymap.core.operation.concerns">
      <concern
            class="org.polymap.kaps.ui.NewFeatureOperationConcern"
            id="org.polymap.kaps.ui.NewFeatureOperationConcern"
            name="org.polymap.kaps.ui.NewFeatureOperationConcern">
      </concern>
      <concern
            class="org.polymap.kaps.ui.RemoveFeaturesOperationConcern"
            id="org.polymap.kaps.ui.RemoveFeaturesOperationConcern"
            name="org.polymap.kaps.ui.RemoveFeaturesOperationConcern">
      </concern>
   </extension>
   <extension
         point="org.polymap.core.http.servlets">
      <servlet
            class="org.polymap.core.WorkbenchRedirectServlet"
            name="Workbench Redirect"
            path="/">
      </servlet>
   </extension>
   <!--extension
         point="org.polymap.core.operation.concerns">
      <concern
            class="org.polymap.kaps.ui.NewFeatureOperationConcern"
            id="org.polymap.kaps.ui.NewFeatureOperationConcern"
            name="org.polymap.kaps.ui.NewFeatureOperationConcern">
      </concern>
   </extension-->

</plugin>
