<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.rhei.form.pageProviders">
      <pageProvider
            class="org.polymap.kaps.ui.FormPageProvider"
            id="org.polymap.kaps.ui.FormPageProvider"
            name="Kaufpreissammlung">
      </pageProvider>
   </extension>
   <extension
         point="org.polymap.core.model.moduleAssemblers">
      <assembler
            class="org.polymap.kaps.model.KapsRepositoryAssembler">
      </assembler>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.polymap.kaps.importer.MdbImportWizard"
            icon="icons/add.gif"
            id="org.polymap.kaps.winakpsimport"
            name="WinAKPS Import ">
      </wizard>
   </extension>
   <extension
         point="org.polymap.rhei.form.filterProviders">
      <filterProvider
            class="org.polymap.kaps.ui.FilterProvider"
            id="org.polymap.kaps.ui.FilterProvider"
            name="org.polymap.kaps.ui.FilterProvider">
      </filterProvider>
   </extension>
   <extension
         point="org.polymap.core.data.featureOperations">
      <featureOperation
            class="org.polymap.kaps.exporter.RichtwertzoneAsBorisExporter"
            icon="icons/exportas.gif"
            id="org.polymap.kaps.exporter.RichtwertzoneAsBorisExporter"
            label="Exportieren als BORIS"
            tooltip="Richtwertzone als CSV im Format BORIS exportieren.">
      </featureOperation>
   </extension>
   <extension
         point="org.polymap.core.data.featureOperations">
      <featureOperation
            class="org.polymap.kaps.importer.RichtwertzoneKoordinateImporter"
            icon="icons/import.gif"
            id="org.polymap.kaps.importer.RichtwertzoneKoordinateImporter"
            label="In Richtwertzone importieren"
            tooltip="Geometrie auslesen und in Richtwertzone importieren">
      </featureOperation>
   </extension>

</plugin>
