<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.rhei.form.pageProviders">
      <pageProvider
            class="org.polymap.kaps.FormPageProvider"
            id="org.polymap.kaps.pageProvider"
            name="KAPS Page">
      </pageProvider>
   </extension>
   <extension
         point="org.polymap.core.model.moduleAssemblers">
      <assembler
            class="org.polymap.kaps.model.KapsRepositoryAssembler">
      </assembler>
   </extension>

</plugin>
